@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.heading-1 {
  font-size: rem(32);
  font-weight: 700;
}

.heading-2 {
  font-size: rem(24);
  font-weight: 700;
}

.heading-3 {
  font-size: rem(24);
  font-weight: 400;
}

.body {
  font-size: rem(16);
  font-weight: 400;
}

.body-l {
  font-size: rem(18);
  font-weight: 400;
  line-height: rem(20);
}