---
import Header from '../components/Header.astro';

interface Props {
  frontmatter: {
    title: string;
  }
}

const { title } = Astro.props.frontmatter;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-white bg-slate-950">
    <Header></Header>

    <h1 class="font-bold text-5xl mx-auto my-16 w-fit">{title}</h1>
    <main class="max-w-2xl m-auto">
      <slot />
    </main>
	</body>
</html>

<style>
  h2 {
    font-size: 2rem;
    font-weight: 700;
  }
</style>